version: 2.1
orbs:
  node: circleci/node@7.2.1

references:
  executor: &executor
    executor:
      name: node/default
      tag: lts

  workspace_root: &workspace_root ~/project

  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

  filters_tags: &filters_tags
    filters:
      tags:
        only: /.*/

jobs:
  build:
    <<: *executor
    steps:
      - checkout
      - node/install-packages:
          cache-version: '{{ .Environment.CACHE_VERSION }}'
      - persist_to_workspace:
          root: *workspace_root
          paths: .

  test:
    <<: *executor
    steps:
      - *attach_workspace
      - run: npm test

  publish:
    <<: *executor
    steps:
      - *attach_workspace
      - run: npm exec chrome-webstore-upload -- upload --source dist --extension-id gegnmdnjkodmkohdbljgjpaifiphnjig --auto-publish

workflows:
  main:
    jobs:
      - build:
          <<: *filters_tags
      - test:
          requires:
            - build
          <<: *filters_tags
      - publish:
          requires:
            - test
          context: maintainer
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+(-\S*)?$/
            branches:
              ignore: /.*/
